   
        {% if title %}
        
        {% else %}
        
        {% endif %}
    
    
        

            Microblog:
            Home
            {% if current_user.is_anonymous %}
            Login
            {% else %}
            Logout
            {% endif %}
        

        

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        

            {% for message in messages %}
            
{{ message }}

            {% endfor %}
        

        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}