<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div class="Name", id="coutname">

    </div>
    <script>
        async function loadname() {
            const response = await fetch('/api/name');
            if (!response.ok) {
                throw new Error("Could not get Name")
            } 
            const data = await response.json();
            const name = data.Name;

            document.getElementById("coutname").innerHTML = name
        }
        loadname()
    </script>
</body>
</html>